extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Terrance Ford

        p Full Stack JavaScript Developer

        .about-bio

          p My name is Terrance Ford, I'm 24 years old and residing in Glen Allen, Virginia. I have experience with Python and Javascript with a focus on web developement and E-commerce. I first discovered that I had an interest in web developement when I was creating Shopify Stores in 2018 during my free time and since then I have decided to make web developement the center of my attention.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug(Jade)
          li EJS
          li Sass
          li MongoDB

        h6 Contact Info

        ul
          li 757-814-5785
          li terranceford777@gmail.com

        a.btn-link(href='https://www.linkedin.com/') LinkedIn
        a.btn-link(href='https://github.com/tford-dev') GitHub
        a.btn-link(href='https://twitter.com/home') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back