extends layout

block content
  section(class="prose prose-zinc dark:prose-invert max-w-none")
    nav.nav
      a(href='/')
        span &larr;
        |  Back

    article.portfolio-about
      .inner-wrapper.flex-row-wrap.two-col
        .about-intro-box.box
          h1 Terrance Ford
          p IT Professional

          .about-bio
            p My name is Terrance Ford and I'm an IT professional based in Raleigh, North Carolina. I have 4 years of experience working in Information Technology and I hold a CCNP Enterprise certification. With a background in technical support and system administration, I understand the real-world challenges businesses face and build solutions that drive productivity. I’m passionate about problem-solving, automation, and continuous learning to stay ahead in the ever-evolving tech landscape.

        ul
          li
            a(href="https://github.com/tford-dev", target="_blank") — Github
          li
            a(href="https://www.linkedin.com/in/tford-dev/", target="_blank") — LinkedIn
        ul
          li
            | — Email: 
            a(href="mailto:terranceford777@gmail.com") terranceford777@gmail.com
          li — Phone: (757)-814-5785

        .skills-contact-box.box
          h6 — Skills:
          ul
            li ◦ Cisco Networking
            li ◦ Technical Support
            li ◦ Identity and Access Management
            li ◦ Web Development
            li ◦ System Administration

          img.cert-img(src="../static/img/0001.jpg" alt="certification")
          img.cert-img(src="../static/img/0002.jpg" alt="certification")
          img.cert-img(src="../static/img/0003.jpg" alt="certification")
          img.cert-img(src="../static/img/0004.png" alt="certification")
          img.cert-img(src="../static/img/0005.png" alt="certification")

  hr
  
