extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Terrance Ford

        p IT Professional

        .about-bio
          p My name is a Terrance Ford and I'm an IT professional based in Raleigh, North Carolina. I have over 3 years of experience working in Information Technology and I hold a CCNP Enterprise certification. With a background in technical support and system administration, I understand the real-world challenges businesses face and build solutions that drive productivity. I’m passionate about problem-solving, automation, and continuous learning to stay ahead in the ever-evolving tech landscape.
        
        img.cert-img(src="../static/img/0001.jpg" alt="certification")

      .skills-contact-box.box
        h6 Skills

        ul
          li Cisco Networking
          li Technical Support
          li Identity and Access Management
          li Web Development
          li System Administration

        h6 Contact Info

        ul
          li (757)-814-5785
          li terranceford777@gmail.com
        a.btn-link(href='https://github.com/tford-dev') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back