extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Terrance Ford

        p Full Stack JavaScript Developer

        .about-bio
          p My name is Terrance Ford and I am a 24 year old web developer located in Richmond, Virginia. I enjoy challenges and hard work because I believe those two things make the rest of life more enjoyable. I began programming because I appreciate that it is a skill that I can take with me anywhere in the world. My interest in web development began when I was making shopify stores in my spare time when I was 20 years old. Since then I've done self study and completed the Full Stack JavaScript Tech Degree on Treehouse.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node JS
          li Express JS
          li Pug(Jade)
          li SQL
          li REST API
          li Git

        h6 Contact Info

        ul
          li (757)-814-5785
          li terranceford777@gmail.com
        a.btn-link(href='https://github.com/tford-dev') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back