extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Peace Be Upon You

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p My portfolio contains projects that have all of it's functionality and Javascript coded by me. Projects displayed on this page are a random quote generator, pagination of data from an object, a responsive web form, an object oriented programmed game show app coded with ES6 syntax, and an app that displays/filters data from randomapi.

  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      each project in projects
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text
        
        a.cell(href=`/projects/${project.id}`)
          img.thumbnail(src=`${project.image_url[0]}` alt=`${project.project_name} image`)
          h5= project.project_name

