extends layout.pug

block content

  div.portfolio-intro
    h1 404 - Page Not Found
    p The page you are looking for does not exist.
    
    nav.nav
      a(href='/')
        span &larr;
        |  Back