extends layout

block content
    article(class="grid lg:grid-cols-3 gap-8")
      div(class="lg:col-span-2")
        h1(class="text-3xl font-bold mb-2") Recent project 11-9-25 - In progress
        p This project is a network lab running Cisco images on a GNS3 server in VMware Workstation Pro. 
        p AS 7500 is the HQ network, AS 7501 is Branch 1, AS 7502 is Branch 2, AS 7503 is Branch 3, and AS 8000 is the ISP network.
        p Each site communicates with each other using a DMVPN IPSEC tunnel that is running on top of EIGRP.
        p Each site has real internet connectivity using the ISP-CLOUD router.
        p In order to sign into each network device at a site you must authenticate using credentials that are stored on the RADIUS server.
        p You must authenticate with credentials stored on the RADIUS server when you SSH to a device as well.
        p Each device can resolve names using the DNS server stored in AS 7501.
        p Each device can get IPv4 addressing from the DHCP server in AS 7502.
        p This is a rushed summary, I will continue to update this as I document more.

        img(src='../static/img/topology-11-22-25-full.png', alt='Network Topology Image', class="w-full rounded-2xl mt-6 mb-6")
        img(src='../static/img/proving-dhcp-from-pc1.png', alt='Network Topology Image', class="w-full rounded-2xl mt-6 mb-6")
        img(src='../static/img/local-radius-authentication-branch-3-sw.png', alt='Network Topology Image', class="w-full rounded-2xl mt-6 mb-6")
        img(src='../static/img/proving-dns-server-functionality.png', alt='Network Topology Image', class="w-full rounded-2xl mt-6 mb-6")
        img(src='../static/img/sheet-11-9-25.png', alt='Network Topology Image', class="w-full rounded-2xl mt-6 mb-6")
        